name: pkg-test

on:
  push:
    tags: 'v*'

jobs:
  run-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node-version: [12.x, 14.x, 16.x, 17.x]

    steps:
      - name: Set up NodeJS ${{ matrix.node-version }}
        uses: actions/setup-node@v3.4.1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install vrelease-bin
        run: npm i -g vrelease-bin

      - name: Run vrelease (version)
        run: vrelease -v

      - name: Run vrelease (help)
        run: vrelease -h

